{% extends 'base.html'%}

{% block content %}
<style>
    a{
        color: white;
    }
    .title
    {
        padding: 150px;
        text-align: center;
        color: white;
        height: 500px;
        width: 100%;
        background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190623/ourmid/pngtree-red-black-business-atmosphere-business-card-background-image_239813.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<div class="title">
    {% if user.is_authenticated %}
    <h1>MITSOverflow</h1><br>
        <a href="#newModal" data-toggle="modal" class="btn btn-danger" title="Add Thread">
             Make a new Forum
        </a>
    {% else %}
    <p class="text-center" >Looks like you are new here</p>
    <a href="{% url 'register' %}" data-toggle="modal" class="btn btn-danger" title="Add Thread">
            Register
    </a>
    {% endif %}
        
</div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-lg-offset-0">
                    {% if user.is_authenticated%}
                    <div class="card-body">
                    <h3 class="card-title" style="color: white;text-align: center;"><strong>EXISTING FORUMS</strong></h1>
                    </div>
                    <br>
                    <br>
                    {%else%}
                    <div class="card-body">
                        <p style="color: white;text-align: center;">
                            MITSOverflow is a community for MITS students to share information and ask questions.<br>
                            1.Register using your MITS ID
                        </p>
                {%endif%}
                {%if item%}
                {% if user.is_authenticated%}
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col">Forum Name</th>
                        <th scope="col">Creator</th>
                        <th scope="col">Description</th>
                        <th scope="col">Created on</th>
                        <th scope="col">Privacy</th>
                        <th>Reply</th>
                        {%endif%}
                      </tr>
                    </thead>
                    <tbody>
                {% if user.is_authenticated%}
                    {%for info in item%}
                      <tr>
                        <td><a href="#" id={{info.fid}} onclick="open_forum(this);" style="font-size: 18px;">{{info.topic}}</a></td>
                        <td> {{info.name}} </td>
                        <td> {{info.description}} </td>
                        <td> {{info.date_created}} </td>
                        <td>{{info.privacy}}</td>
                      
                        <td><a class="btn btn-outline-danger" id={{info.fid}} onclick="open_forum(this);">
                            View Forum
                       </a> </td>
                       {%endfor%}
                       {%endif%}    
                    </tr>
              
                    </tbody>
                  </table>
                {%endif%}

    <div class="modal fade" id="newModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <form method="POST" role="form">
                        {%csrf_token%}
                        <div class="form-group">
                            <label for="name">Display Name</label>
                            <br>
                                <input type="text" name="name" id="name">
                        </div>
                        <div class="form-group">
                            <label for="name">Thread Name</label>
                            <br>
                                <input type="text" name="topic" id="topic">
                        </div>
                        <div class="form-group" >
                            <label for="description">Description</label>
                            <br>
                                <textarea name="description" id="description" cols="30" rows="10"></textarea>
                        </div>
                        <div class="form-group" >
                        
                            <label for="Privacy">Privacy</label>
                            <br>
                            <label for="Private">Private</label>
                            <input type="radio" id="Private" value="Private" name="privacy">    
                            <label for="Public">Public</label>
                            <input type="radio" id="Public" value="Public" name="privacy">
                        </div>
                        <button type="submit" formaction="{% url 'forum:new_forum' %}" class="btn btn-outline-danger">Submit</button>
                        
                    </form>
                 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    
    <script>
        function open_forum(what) {
            
            var m = what.id;
            console.log(m);
            document.location.href = "{% url 'forum:open_forum' 1234 %}".replace(/1234/, m.toString());
        }
    </script>

 {% endblock %}   